*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: #f8f8f8;
line-height: 1.6;
min-height: 100vh;
}

.main-container {
display: grid;
grid-template-rows: auto auto 1fr auto;
grid-template-areas: 
"header"
"nav"
    
"content"
"footer";
max-width: 1500px;
margin: 20px auto;
border: 1px solid #dddddd;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
background-color: white;
}

header {
grid-area: header;
background-color: #e74444;
padding: 20px;
color: white;
text-align: center;
}

nav {
grid-area: nav;
background-color:rgb(133, 37, 228);
padding: 15px;
color: white;
text-align: center;
}

.section-article {
grid-area: content;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2px;
}

.article {
padding: 40px 20px;
background-color: rgb(41, 203, 231);
color: white;
text-align: center;
display: grid;
place-items: center;
min-height: 400px;
}

.img-placeholder {
width: 80%;

height: 150px;
background-color: rgba(225, 225, 225, 0.3);
margin-top: 20px;
border-radius: 5px;
}

footer {
background-color: rgb(134, 223, 83);
width: 100%;
padding: 15px;
color: white;
text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
.section-article {
grid-template-columns: 1fr;
}

.article {
min-height: 200px;
}
}